body .salas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: rgb(199, 253, 182);
}

#menuHorizontal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 0px;
}
#menuHorizontal ul {
  list-style: none; /*tira os marcadores*/
  padding: 16px;
  background-color: rgb(66, 182, 95);
  text-align: center; /*alinhar os elementos na direita*/
  margin-top: 0px;
}

#menuHorizontal ul li {
  display: inline-block; /*ficar em uma linha (e nao colunas)*/
}
#menuHorizontal ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: white;
  text-decoration: none; /*tira o sublinhado*/
  padding: 18px;
  display: inline-block; /*cria um bloco com o padding informado*/
  transition: background 1s; /*efeito de fade combinado com o hover*/
}

#menuHorizontal ul li a:hover {
  background-color: gray;
  opacity: 0.5; /*opcional */
}
