* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

.novasala {
  background-color: rgb(199, 253, 182);
}

.titulo h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  background: rgb(66, 182, 95);
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: auto;
  margin-top: 0px;
}

.cabecalho h3 {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 30px;
  color: rgb(66, 182, 95);
  text-align: center;
  padding: 20px;
  width: 60%;
  margin: auto;
  margin-top: 10px;
}

.formulario {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px #4a4a4a;
  border-radius: 30px;
  height: 530px;
  width: 42%;
  background-color: white;
}

.campos {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 40%;
  margin: auto;
}

.campos input {
  padding: 3px;
  width: 40%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.campos label {
  display: block;
  margin-top: 0px;
}

.campos label select {
  margin-top: 10px;
  margin-bottom: 10px;
}

.formulario button {
  display: block;
  text-align: center;
  padding: 10px 22px;
  color: white;
  background-color: #4a4a4a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.formulario button:hover {
  background-color: #333;
}

.checkboxContainer {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap; /* não permite quebrar a linha em telas menores */
  margin-top: 2px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.horario input {
  padding: 1px;
  margin-top: 3px;
}

.rodape {
  color: white;
  background: rgb(66, 182, 95);
  font-size: 17px;
  text-align: center;
  padding: 5px;
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
}
